@import 'tailwindcss';

hr {
  opacity: 20%;
}
button {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-helvetica: 'Helvetica', system-ui, sans-serif;
  --color-primary: #071c59; /* Primary – Buttons, links, and key actions */
  --color-primaryHover: #174579;
  --color-secondary: #75321e; /* Secondary – Borders, secondary text, and UI elements */
  --color-accent: #000624;
  --color-grey: #3f3f3f;
  --color-light: #f5f7fa;
  --color-muted: #e5e7eb; /* Muted – Soft background for cards, containers, and light mode */
  --color-dark: #1a1a1a; /* Dark – Text, headers, and dark mode backgrounds */
}

@theme {
  --animate-navBar: navBar 0.5s ease-out 0s 1;
  @keyframes navBar {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@theme {
  --animate-asideBar: asideBar 0.5s ease-in 0s 1.5;
  @keyframes asideBar {
    0% {
      transform: translateX(-70px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

@layer base {
  body {
    @apply font-helvetica font-normal;
    background-color: var(--color-muted);
    color: var(--color-dark);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
